.body {
  background-color: #F4F4F4;
}

.cartcontainer {
  width: 1170px;
  height: 2000px;
  background-color: white;
  margin: 0 auto;
}

.carttitle {
  font-size: 60px;
  color: #202124;
  text-align: center;
  padding-top: 93px;
}

.cartitemcontainer {
  margin-top: 99px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.cartitem {
  width: 1110px;
  height: 158px;
  background-color: #D9D9D9;
  border-radius: 10px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  margin-top: 20px;
}

.cartitemimage {
  width: 130px;
  height: 120px;
  background-color: #fff;
  margin-left: 26px;
}

.cartitemtitle {
  display: block;
  margin-left: 103px;
  width: 195px;
}

.buttoncartcontainer {
  display: flex;
  align-items: center;
  margin-left: 176px;
}

.buttonminus {
  width: 30px;
  height: 30px;
  border: none;
  background-color: #fff;
  border-radius: 30px;
  font-size: 20px;
  margin-right: 10px;
  cursor: pointer;
}

.buttonadd {
  width: 30px;
  height: 30px;
  border: none;
  background-color: #fff;
  border-radius: 30px;
  font-size: 20px;
  margin-left: 10px;
  cursor: pointer;
}

.cartitemprice {
  margin-left: 78px;
  width: 36px;
}

.buttonttash {
  margin-left: 78px;
  cursor: pointer;
}
.buttonttash img {
  width: 25px;
  height: 25px;
}

.allprice {
  display: block;
  margin-left: 110px;
  width: 100px;
  margin-top: 20px;
}

.buttonsforbuycontainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  padding: 0 110px;
}

.buttonback {
  width: 309px;
  height: 51px;
  background-color: #E63946;
  color: #fff;
  font-size: 24px;
  text-align: center;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.buttonbuy {
  width: 452px;
  height: 51px;
  background-color: #E63946;
  color: #fff;
  font-size: 24px;
  text-align: center;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modalContent {
  background: white;
  width: 300px;
  height: 200px;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.modalButton {
  margin-top: 50px;
  width: 250px;
  height: 50px;
  cursor: pointer;
  color: #fff;
  background-color: #E63946;
  border: none;
  font-size: 17px;
  border-radius: 10px;
}

.modalText {
  margin-top: 10px;
  font-size: 20px;
  font-weight: 700;
}

@media (max-width: 480px) {
  .cartcontainer {
    width: 100%;
    background-color: white;
    margin: 0 auto;
  }
  .cartitemcontainer {
    width: 480px;
    margin-top: 99px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 5px;
    grid-row-gap: 0px;
  }
  .cartitem {
    width: 400px;
    height: 500px;
    background-color: #D9D9D9;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
  }
  .cartitemimage {
    width: 200px;
    height: 200px;
    background-color: #fff;
    display: block;
    margin: 0 auto;
  }
  .cartitemtitle {
    display: block;
    font-size: 20px;
    text-align: center;
    margin: 0 auto;
    width: 400px;
  }
  .buttoncartcontainer {
    text-align: center;
    margin-left: 160px;
    display: flex;
    align-items: center;
    width: 400px;
  }
  .cartitemprice {
    font-size: 20px;
    margin-left: 187px;
    width: 400px;
  }
  .buttonttash {
    width: 400px;
    margin-left: 193px;
    cursor: pointer;
  }
  .buttonttash img {
    width: 25px;
    height: 25px;
  }
  .buttonsforbuycontainer {
    display: flex;
    align-items: center;
    padding: 0;
    flex-wrap: wrap;
    margin-top: 20px;
    width: 480px;
  }
  .carttitle {
    font-size: 60px;
    width: 480px;
    color: #202124;
    text-align: center;
    padding-top: 93px;
  }
  .buttonback {
    margin: 0 auto;
    margin-bottom: 50px;
  }
  .allprice {
    font-size: 20px;
    margin: 0 auto;
    margin-top: 40px;
  }
  .buttonbuy {
    margin: 0 auto;
  }
}/*# sourceMappingURL=Cart.module.css.map */