.footercontainer
    width: 1440px
    height: 124px
    display: flex
    align-items: center
    justify-content: space-between
    margin: 0 auto

.socialcontainer
    margin-left: 20px
    display: flex
    align-items: center
    justify-content: space-between
    cursor: pointer

.socialimage
    width: 30px
    height: 30px
    margin-left: 10px

.navbarfootercontainer
    display: flex
    align-items: center
    justify-content: space-between
.navbarfootertitle
    margin-left: 50px
    font-size: 15px
    text-decoration: none
    color: #111
.yearshopcontainer
    margin-right: 40px
@media (max-width:500px)
    .socialimage
        height: 50px
        width: 50px
        margin: 0
    .socialimagetok
        height: 50px
        width: 50px
        margin: 0 50px
    .footercontainer
       width: 100%
       display: flex
       align-items: center
       flex-wrap: wrap
    .socialcontainer
       margin: 0 auto
       display: flex
       align-items: center
       justify-content: space-between
       cursor: pointer
    .navbarfootercontainer
        margin-top: 50px
        padding: 0 10px
    .yearshopcontainer
        margin: 0 auto
        margin-top: 50px
        margin-bottom: 20px
